@page
@model Web_shop.Pages.DeliveryModel
@{
    ViewData["Title"] = "Dostava";
    Layout = "_LayoutDelivery";
}
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/">
                <img src="~/Images/logo.png" alt="Logo" style="width: 100px;" />
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-secondary">Početna stranica</a></li>
                <li><a href="/Category" class="nav-link px-2 text-white">Kategorije</a></li>
                <li><a href="/Delivery" class="nav-link px-2 text-white">Dostava i plaćanje</a></li>
                <li><a href="/Faq" class="nav-link px-2 text-white">Česta pitanja</a></li>
                <li><a href="/About" class="nav-link px-2 text-white">O nama</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" id="searchInput" class="form-control form-control-light" placeholder="Traži..." aria-label="Tražilica">
            </form>

            <div class="text-end">
                @if (string.IsNullOrEmpty(Model.Username))
                {
                    <button type="button" class="btn btn-outline-light me-2" onclick="window.location.href = '/Account/Login'">Prijava</button>
                    <button type="button" class="btn btn-warning" onclick="window.location.href = '/Account/Register'">Registracija</button>
                }
                else
                {
                    <div class="dropdown-center">
                        <button id="profileButton" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: x-large;">
                            👤
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/ShoppingCart">🛒 Košarica</a></li>
                            <li><a class="dropdown-item" href="/Account/Logout">Odjava</a></li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    </div>
</header>
<br />
<h1 class="text-center text-secondary">Dostava</h1>
<br />

<div class="background-image d-flex justify-content-center">
    <div class="form-container w-50 p-3">
        <form method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger mb-3"></div>
            <div class="mb-3">
                <label asp-for="Input.RecipientName" class="form-label">Ime i prezime primatelja</label>
                <input asp-for="Input.RecipientName" class="form-control" />
                <span asp-validation-for="Input.RecipientName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Address" class="form-label">Adresa dostave</label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.PhoneNumber" class="form-label">Broj telefona</label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.DeliveryDate" class="form-label">Datum dostave</label>
                <input asp-for="Input.DeliveryDate" class="form-control" type="date" />
                <span asp-validation-for="Input.DeliveryDate" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Input.Notes" class="form-label">Napomene</label>
                <textarea asp-for="Input.Notes" class="form-control"></textarea>
                <span asp-validation-for="Input.Notes" class="text-danger"></span>
            </div>

            <button type="submit" asp-page-handler="ProcessDelivery" class="btn btn-primary">Potvrdi</button>
        </form>
    </div>
</div>


@if (TempData["PaymentSuccessfulToast"] != null && (bool)TempData["PaymentSuccessfulToast"]!)
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Obavijest</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Plaćanje uspješno.
            </div>
        </div>
    </div>
}

@if (TempData["PaymentSuccessfulToast"] != null && (bool)TempData["PaymentSuccessfulToast"]!)
{
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            var toastEl = document.getElementById('successToast');
            var toast = new bootstrap.Toast(toastEl);
            toast.show();
        });
    </script>
}

@if (Model.UserDeliveries != null && Model.UserDeliveries.Count > 0)
{
    <div class="mt-4">
        <br />
        <h2 class="text-center text-secondary">Vaše dostave</h2>
        <br />
        <div class="table-responsive">
            <table class="table table-hover shadow-sm">
                <thead class="table-dark">
                    <tr>
                        <th>Ime primatelja</th>
                        <th>Adresa primatelja</th>
                        <th>Telefon</th>
                        <th>Datum dostave</th>
                        <th>Napomene</th>
                        <th>Detalji proizvoda</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var delivery in Model.UserDeliveries)
                    {
                        <tr>
                            <td>@delivery.RecipientName</td>
                            <td>@delivery.Address</td>
                            <td>@delivery.PhoneNumber</td>
                            <td>@delivery.DeliveryDate.ToString("d")</td>
                            <td>@delivery.Notes</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                @foreach (var item in delivery.DeliveryItems)
                                {
                                    <span class="badge bg-primary me-2">
                                        @item.Product.Name, @item.Product.RetailPrice €, @item.Quantity kom
                                    </span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}


<br />
<hr class="featurette-divider">

<footer class="py-3 my-4">
    <p class="text-center text-body-secondary">© 2024 DućanPlus, d.o.o.</p>
</footer>


